<h2>List of Bookings</h2>
<% @bookings.each do |booking| %>
    <div>
        Start Date: <%= booking.start %> <br>
        End Date: <%= booking.end %> <br>
        Purpose: <%= booking.purpose %> <br>
        Room booked: <%= link_to booking.room.name, booking.room %> <br>
    </div>   
    <br> 
<% end %>
<%= link_to "Create New Booking", new_booking_path  %>