<h2>List of Bookings</h2>
<% @bookings.each do |booking| %>
    Start Date: <%= booking.start %> <br>
    End Date: <%= booking.end %> <br>
    Purpose: <%= booking.purpose %> <br>
    Room booked: <%= booking.room.name %> <br>
    <br><br><br>
<% end %>
<%= link_to "Create New Booking", new_booking_path  %>